<h1>My profile</h1>
<p>username: <%= @user.username %>  </p>
<p>email: <%= @user.email %>  </p>
<p># of memes: <%= @user.memes_count %> </p>
<button>
  <%= link_to "Edit", edit_user_registration_path %>
</button>
