* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.memes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

/* franco */

@media (min-width: 768px) {
  .container {
    width: 80%;
  }

  /* franco */
}
