<div class="footerBar">
  <hr />
  <p style="text-align: center;">
    Made by <a href="https://github.com/fmunives" target="_blank">@fredd</a>,
    <a href="https://github.com/drihu" target="_blank">@ricardo</a>,
    <a href="https://github.com/Makoret" target="_blank">@frank</a> Codeable #2
  </p>
</div>
